/* Dashboard CSS URL */
@import url('https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.12/tailwind-experimental.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css');

main {
  padding: 20px;
}

/* Bill Buttons */
.btnDiv {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-button {
  border-radius: 4px;
  color: white;
  border: none;
  box-shadow: 0 4px #95a5a6;
  width: 125px;
  height: 50px;
  margin-top: 5px 0px;
  font-size: larger;
  transition: all 0.5s;
}
.manage-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.manage-button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.manage-button:hover span {
  padding-right: 25px;
}
.manage-button:hover span:after {
  opacity: 1;
  right: 0;
}

.add-button {
  background-color:#2ecc71;
  margin-right: 7.5%;
}
.add-button:hover {
  background-color:#129d4c;
}
.add-button span:after {
  content: '+';
}

.remove-button {
  background-color:#db784d;
  margin-left: 7.5%;
}
.remove-button:hover {
  background-color:#e14f1f;
}
.remove-button span:after {
  content: '-';
}

.save-button {
  background-color:#4d8ddb;
}
.save-button:hover {
  background-color:#136cd9;
}
.save-button span:after {
  content: '↓';
}

.submit-button {
  background-color:#4d8ddb;
}
.submit-button:hover {
  background-color:#136cd9;
}
.submit-button span:after {
  content: '↑';
}

.confirm-button {
  width: 115px;
  height: 32px;
  margin-top: 15px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-size: medium;
  background-color:cyan;
}
.confirm-button:hover {
  background-color:rgb(86, 253, 253);
}
.confirm-button span:after {
  content: '✔';
}


/* Bill Table */
.responsive-table {
  font-family: "lato", sans-serif;
}
.responsive-table li {
  border-radius: 3px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.responsive-table .table-header {
  background-color: #84bfc3;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  font-size: 18px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .parent {
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}
.responsive-table .children {
  max-height: 335px;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}
.responsive-table .col-1 {
  flex-basis: 15%;
  text-align: center;
}
.responsive-table .col-2 {
  flex-basis: 45%;
  text-align: center;
}
.responsive-table .col-3 {
  flex-basis: 10%;
  text-align: center;
}
.responsive-table .col-4 {
  flex-basis: 30%;
  text-align: center;
}
.responsive-table .col-5 {
  flex-basis: 70%;
  text-align: center;
  overflow: auto;
}


h3 {
  text-align: center;
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

table {
  margin: auto;
  border-collapse:separate;
  border-spacing: 20px 0px;
}

select {
  border: 1px solid black;
  width: 130px;
  text-align: center;
  padding: 5px;
  margin: -5x 0px;
}

input[type=number] {
  margin-left: 5px;
  text-align: right;
}